/*
 * The MIT License
 *
 * Copyright (c) 2019 Gustavo Pacheco.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is furnished
 * to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    background-color: rgb(255, 207, 0);
    color: rgba(37, 38, 35, 0.8);

    font-family: Roboto, sans-serif;
    font-size: 1em;
    text-align: center;

    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 3em;
    margin: 0;
    color: rgba(37, 38, 35, 0.8);;
}

h1 span {
    font-weight: 500;
}

header {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

footer {
    background-color: #F5F5F5;
    color: rgba(0, 0, 0, 0.5);
    padding: 24px;
    text-align: center;
    font-size: .8em;
    width: 100%;
}

footer strong {
    font-weight: 500;
}

footer img {
    margin-right: 16px;
}

.content {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.header-content-overlay {
    position: absolute;
    background: transparent url("assets/logo-dark.svg") no-repeat 100px 100px;
    background-size: 75em;
    width: 1600px;
    height: 1600px;
    transform: rotate(30deg);
    opacity: .03;
}

.info {
    z-index: 100;
}

.info img {
    width: 400px;
}

.slogan {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 2em;
}

.slogan span, .slogan img {
    vertical-align: middle;
}
